nodered-ibmwatson/NodeRed-PoC-IBMIoT-LDR.json
[
   {
      "id":"7d8dc7a3.e7c378",
      "type":"tab",
      "label":"Flow 3",
      "disabled":false,
      "info":""
   },
   {
      "id":"ef88da5f.175eb",
      "type":"function",
      "z":"7d8dc7a3.e7c378",
      "name":"",
      "func":"msg.payload = msg.payload.d.luminosidade;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":400,
      "y":220,
      "wires":[
         [
            "600ce230.128fdc"
         ]
      ]
   },
   {
      "id":"600ce230.128fdc",
      "type":"ui_gauge",
      "z":"7d8dc7a3.e7c378",
      "name":"",
      "group":"937168b0.1febe",
      "order":2,
      "width":0,
      "height":0,
      "gtype":"gage",
      "title":"Luminosidade",
      "label":"lux",
      "format":"{{value}}",
      "min":0,
      "max":"1024",
      "colors":[
         "#00b500",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"340",
      "seg2":"680",
      "x":650,
      "y":200,
      "wires":[
         
      ]
   },
   {
      "id":"3a665496.ab563c",
      "type":"ibmiot in",
      "z":"7d8dc7a3.e7c378",
      "authentication":"apiKey",
      "apiKey":"*****",
      "inputType":"evt",
      "logicalInterface":"",
      "ruleId":"",
      "deviceId":"",
      "applicationId":"",
      "deviceType":"+",
      "eventType":"+",
      "commandType":"",
      "format":"json",
      "name":"IBM IoT",
      "service":"registered",
      "allDevices":"",
      "allApplications":"",
      "allDeviceTypes":true,
      "allLogicalInterfaces":"",
      "allEvents":true,
      "allCommands":"",
      "allFormats":"",
      "qos":0,
      "x":170,
      "y":220,
      "wires":[
         [
            "ef88da5f.175eb"
         ]
      ]
   },
   {
      "id":"937168b0.1febe",
      "type":"ui_group",
      "name":"Default",
      "tab":"8e45ba22.4b76f",
      "order":1,
      "disp":false,
      "width":"6",
      "collapse":false
   },
   {
      "id":"4dd49b2e.07cbd4",
      "type":"ibmiot",
      "name":"******",
      "keepalive":"60",
      "serverName":"*****.messaging.internetofthings.ibmcloud.com",
      "cleansession":true,
      "appId":"Node-Red",
      "shared":false
   },
   {
      "id":"8e45ba22.4b76f",
      "type":"ui_tab",
      "name":"Home",
      "icon":"dashboard",
      "disabled":false,
      "hidden":false
   }
]